body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#header, #hero-banner, #footer {
    background-color: #1f2937;
}

#hero-sign-up, #action-box, #action-sign-up {
    background-color: #3882f6;
}

#header-logo, #hero-text {
    color: #f9faf8;
}

button, .header-link, #hero-secondary-text, #hero-image, #action-banner, #footer {
    color: #e5e7eb;
}

button {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 30px;
    border-style: solid;
    border-radius: 10px;
    max-width: fit-content;
    max-height: fit-content;
}

#header {
    display: flex;
    flex-basis: 100px;
    justify-content: center;
    align-items: center;
}

#header-content {
    display: flex;
    flex-basis: 80%;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    font-size: 24px;
    font-weight: bold;
}

#header-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

.header-link {
    font-size: 18px;
    text-decoration: none;
}

#hero-banner {
    display: flex;
    flex-basis: 500px;
    justify-content: center;
    align-items: center;
}

#hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 80%;
    flex-wrap: wrap;
}

#hero-left {
    display: flex;
    flex-direction: column;
}

#hero-text {
    font-size: 48px;
    margin: 0;
}

#hero-secondary-text {
    font-size: 18px;
}

#hero-sign-up {
    border-color: #1f2937;
}

#hero-image {
    display: flex;
    flex-wrap: wrap;
}

#info-banner {
    padding: 40px 20px 150px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#info-text {
    color: #1f2937; 
    font-size: 36px;
}

#info-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.card {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.card-image {
    padding: 80px 80px;
    border: #3882f6;
    border-style: solid;
    border-radius: 15px;
    border-width: thick;
}

.card-subtext {
    color: #3a3737;
    font-size: 18px;
    text-align: center;
}

#quote-banner {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 500px;
}

#quote-element {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

#quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

#quote-signature {
    font-size: 22px;
    font-weight: bold;
    align-self: flex-end;
}

#action-banner {
    display: flex;
    flex-basis: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#action-box {
    padding: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

#action-primary-text {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

#action-secondary-text {
    font-size: 18px;
    margin: 0;
}

#action-sign-up {
    border-color: #e5e7eb;
}

#footer {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
}